<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

{%if messages%}
	{%for message in messages%}
		<p>{{message}}</p>
	{%endfor%}
{%endif%}

<form action='/addconfig' method="post">
    {%csrf_token%}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="enable" value="True" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Enable
        </label>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Configuration Name</label>
        <input type="text" name="name" class="form-control" id="formGroupExampleInput2" placeholder="Configuration Name">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Enter FQDN</label>
        <input type="text" name="fqdn" class="form-control" id="formGroupExampleInput2" placeholder="example.domain.com">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Enter IP Address</label>
        <input type="text" name="ip" class="form-control" id="formGroupExampleInput2" placeholder="127.0.0.1">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Enter Port Number</label>
        <input type="text" name="port" class="form-control" id="formGroupExampleInput2" placeholder="8000">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <table border="1">
    <tr>
        <th>Enabled</th>
        <th>Name</th>
        <th>FQDN</th>
        <th>IP Address</th>
        <th>Port</th>
    </tr>
        {%for config in config%}
            <tr>
                <td>{{config.enable}}</td>
                <td>{{config.name}}</td>
                <td>{{config.fqdn}}</td>
                <td>{{config.ipAddress}}</td>	
                <td>{{config.portNumber}}</td>	
                <td><a href="/remove/{{config.id}}"><button>Delete</button></a></td>	
            </tr>
        {%endfor%}
    
    </table>