<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
  <a class="navbar-brand" href="/"><img id="logo" src="{% static 'main/img/logo.svg' %}" alt="HOME"></a> 
  <a href="/"></a><h4 class="center_header">Reverse Proxy</h4></a>
  <button class="btn btn-success ml-auto mr-1 disable">v0.6-alpha</button>
  <a href="/"><button type="button" class="btn btn-info ml-auto mr-1">Configs</button></a>
  {% if auth_active == True %}
        <a href="/logout"><button type="button" class="btn btn-info ml-auto mr-1">Logout</button></a>
  {% endif %}
</nav>
<br>
{%if messages%}
    {%for message in messages%}
        <div class="alert alert-primary" role="alert">
            <p>{{message}}</p>
        </div>
	{%endfor%}
{%endif%}
<br>

<div class="container">
    <div class="row">
      {% if auth_active == False %}
        <div class="col-sm auth_disabled">
          <h2>Authentication (Disabled)</h2>
          <form action='/addauth' method='post'>
              {%csrf_token%}
              <input type="text" name="username" placeholder="Enter a Username" size=30><br>
              <input type="password" name="password" placeholder="Enter a Password" size=30><br>
              <input type="password" name="c_password" placeholder="Confirm Password" size=30><br>
              <input type='submit' value='Enable Authentication'>
          </form>
      {% elif auth_active == True %}
        <div class="col-sm auth_enabled">
          <h2>Authentication (Enabled)</h2>
          <a href="/disableauth"><button type="button" class="btn btn-info">Disable Authentication</button></a>
      {% endif %}
        </div>
      <div class="col-sm update_border">
        <h2>Update System</h2>
        <a href="/update"><button type="button" class="btn btn-info">Update</button></a>
      </div>
      </div>
    </div>
  </div>

    



    

	
    


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>