[Unit]
Description=reverseproxy systemd service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/startserver.sh

[Install]
WantedBy=multi-user.target